{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h2>Every season tells a story.</h2>

    <p>
        A secure place to write your private memories
        and share your public stories with the world.
    </p>

    <div class="buttons">

        <a href="/register" class="btn">Get Started</a>

        <a href="/login" class="btn secondary">Login</a>

    </div>

</section>

<section class="features">

    <div class="card">
        <h3>🔐 OTP Protected</h3>
        <p>Every account is verified through Email OTP.</p>
    </div>

    <div class="card">
        <h3>📖 Private Diary</h3>
        <p>Your personal thoughts stay private and secure.</p>
    </div>

    <div class="card">
        <h3>🌍 Public Blog</h3>
        <p>Share your journey with readers around the world.</p>
    </div>

</section>

{% endblock %}